<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.yothuba.timecodebridge2</string>
    <key>CFBundleName</key>
    <string>TimecodeBridge2</string>
    <key>CFBundleDisplayName</key>
    <string>TimecodeBridge2</string>
    <key>CFBundleVersion</key>
    <string>2.1.4</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.4</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>TimecodeBridge.App</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>TimecodeBridgeはLTC信号をオーディオ入力から受信するためにマイクへのアクセスが必要です。</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
</dict>
</plist>
